body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    background-image: url('fondo-regalos.jpg');
    background-size: cover;
    filter: blur(3px);
}

.container {
    max-width: 45%; /* Cambiado a un porcentaje para adaptarse mejor */
    margin: 0 auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 10px;
    margin-top: 5vw; /* Utilizando unidades relativas para adaptarse mejor al tamaño de la pantalla */
}

.title {
    font-size: 2em;
    margin-bottom: 20px;
    animation: fadeIn 2s ease-in-out;
}

.gift-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.gift-list li {
    font-size: 1.2em;
    margin: 10px 0;
}

.gift-list a {
    text-decoration: none;
    color: #333;
}

.gift-list a:hover {
    text-decoration: underline;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
